.AdminPanelMenuTypesItem {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.menu__types__item__title {
  font-size: 28px;
  color: #fff;
  text-transform: capitalize;
}

.admin__menuTypes__box {
  width: 100%;
  padding: 0px 80px;
  display: grid;
  grid-template-columns: auto auto auto;
}
