.AdminPanelMenuTypes {
  min-height: 100vh;
  min-height: 100%;
  width: 100%;
  background-color: #989898;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.menuTypes {
  width: 100%;
  padding: 0px 80px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.menuType {
  width: 360px;
  height: 450px;
  border-radius: 20px;
  border: 4px solid #707070;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 16px 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}

.menuTypes__item {
  margin-top: 20px;
  width: 360px;
  height: 100%;
}

.menuType__img {
  width: 100%;
  height: 350px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 35px;
}

.add__menuType__box {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  border: 4px solid #707070;
  box-shadow: rgba(0, 0, 0, 0.801) 0px 16px 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  font-weight: bold;
  cursor: pointer;
}
