.DashBoard {
  min-width: 300px;
  max-width: 300px;
  min-height: 100%;
  background: #3746aa;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 0px 0px;
}
.cafeNameLink {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 37px;
  text-decoration: none;
  color: #ffffff;
}

.menus {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  list-style-type: none;
  width: 100%;
}

.menuItem {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  position: relative;
  min-width: 200px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  z-index: 9999;
}

.dash__img {
  width: 25px;
  height: 20px;
  position: absolute;
  left: 32px;
  margin-right: 14px;
}

.dash__name {
  position: absolute;
  left: 72px;
  top: 21px;
}

.activee::before {
  width: 100%;
  height: 100%;
  content: "";
  background: #ffffff;
  opacity: 0.2;
}
