.cafeInfo__box {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cafeInfo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

.cafeInfo__recommended {
  margin-top: 20px;
}

.cafeInfo__menuItem {
  max-width: 280px;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.cafeInfo__menuItem__img {
  max-width: 235px;
  width: 100%;
  height: 132px;
  margin-bottom: 22px;
  border-radius: 28px;
}

.cafeInfo__menuItems__name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 1px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.cafeInfo__menuItem__description {
  font-size: 14px;
  max-width: 235px;
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
}

.buying__info {
  margin-top: 22px;
  padding: 0 17px;
}

.add__card_button {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ec1e1e;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  padding: 8px 24px;
  margin-left: 16px;
}
