.container {
  position: absolute;
  top: 10%;
  left: 23%;
  width: 50%;
}

.text {
  display: inline;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-or-hide {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-left: 1px;
  width: fit-content;
  margin-top: 10px;
}
