.buying__info {
  margin-top: 22px;
  padding: 0 17px;
}

.add__card_button {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #ec1e1e;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 13px;
  padding: 8px 24px;
  margin-left: 16px;
}
